body {
  background-color: #e9ecef;
}

.todo_template {
  width: 512px;
  height: 768px;

  position: relative; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

  margin: 0 auto; /* 페이지 중앙에 나타나도록 설정 */

  margin-top: 96px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.todo_head {
  padding-top: 48px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e9ecef;
}
.todo_head h1 {
  margin: 0;
  font-size: 36px;
  color: #343a40;
}
.todo_head .day {
  margin-top: 4px;
  color: #868e96;
  font-size: 21px;
}
.todo_head .tasks-left {
  color: #20c997;
  font-size: 18px;
  margin-top: 40px;
  font-weight: bold;
}

.todo_block {
  flex: 1;
  padding: 20px 32px;
  padding-bottom: 48px;
  overflow-y: auto;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dee2e6;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.remove:hover {
  color: #ff6b6b;
}

.todo_item_block {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.todo_item_block:hover {
  .remove {
    display: initial;
  }
}

.check_circle {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ced4da;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
.check_circle:hover {
  border: 1px solid #38d9a9;
  color: #38d9a9;
}

.text {
  flex: 1;
  font-size: 21px;
  color: #495057;
}

.circle_button {
  background: #38d9a9;

  z-index: 5;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.125s all ease-in;
}
.circle_button:hover {
  background: #63e6be;
}
.circle_button:active {
  background: #20c997;
}

.insertform_positioner {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.insertform {
  background: #f8f9fa;
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 72px;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid #e9ecef;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  width: 100%;
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
}